<section>
  <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <p>
              <ul>
                <li><a href="#/home">Accueil</a></li>
                <li><a href="#/login">Login</a></li>
              </ul>
            </p>
          </div>
          <div class="col-xs-12 col-sm-6">
            <p>
              Projet réalisé par Paul de Barthez <a href="//www.github.com/uxpaul" target="_blank">@uxpaul</a>
              et Sébastien Palacin <a href="//www.github.com/sbstnplcn" target="_blank">@sbstnplcn</a>
              lors d'un Hackathon interne à la <a href="//www.wildcodeschool.fr" target="_blank">Wild Code School</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
