* {
    box-sizing: border-box;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    /*border-bottom: 0.1px solid #757575;*/
}

input:focus {
    outline: none;
}

textarea {
    font-size: 18px;
    padding: 15px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    /*border-bottom: 1px solid #757575;*/
}

textarea:focus {
    outline: none;
}


/* LABEL ======================================= */

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}


/* active state */

input:focus~label, input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

textarea:focus~label, textarea:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}


/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


/* active state */

input:focus~.bar:before, input:focus~.bar:after {
    width: 50%;
}

textarea:focus~.bar:before, textarea:focus~.bar:after {
    width: 50%;
}


/* HIGHLIGHTER ================================== */


/*.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}*/


/* active state */

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

textarea:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
    width: 300px;
}


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    padding-top: 50px;
    min-height: 100vh;
    background-color: #eceff1;
    font-weight: lighter;

}

h1 {
    text-align: center;
    padding: 0.5em 0 1em 0;
    font-weight: 200;

}
h2 {

    font-weight: 300;

}

.interne {
    /*margin: 1em;*/
    background-color: #F8F9F9;
}

.add {
    display: inline-block;
    padding: 4em;
    font-size: 1.6em;
}

small {
    float: right;
}

a {
    color: #999;
}

a:hover {
    text-decoration: none;
}

p {
    text-align: justify;
    font-size: 18px;
}

.changer {
    display: inline-block;
    padding: 14em 0 0 2em;
}

.addArticle {
    margin: 5em 0 5em 0;
}

.edition {
    margin-top: 5em;
    margin-bottom: 5em;
}

.imageview {
    width: 100%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

navbar .form-control, navbar .btn {
    border: 0px;
    border-radius: 0px;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    height: 34px;
}

.btn {
    padding: 1em 2em 1em 2em;
    background-color: rgba(255, 255, 255, 0.8);
    color: #5264AE;
    text-transform: uppercase;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: none;
}

select {
    -webkit-appearance: none;
    border-radius: 0px;
    border: 0px;
    width: 70%;
    margin: 5px 0px;
}
