.dialog {
    margin-bottom: 5em;
    background-color: #FFFFFF;
    margin-top: 3em;
    padding: 1em;
    text-align: center;
    border-radius: 3px;
    min-height: 250px;
    border: 1px solid rgba(0, 0, 0, .09);
}

.exit {
    float: right;
    margin: 0.1em 0em 0 0;
    display: inline-block;
}

.exit:hover {
    color: red;
}

.edit:hover {
    color: #02B875;
    font-size: 20px;
}

.delete:hover {
    color: red;
    font-size: 20px;
}

.projectimage {
    width: 100%;
    height: 35em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.techno {
    position: absolute;
    top: 24em;
    font-size: 20px;
    right: 1em;
    background-color: #909090;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.btnPrev {
    float: left;
    font-size: 30px;
    color: #FFFFFF;
    vertical-align: middle;
    padding-top: 6em;
    padding-left: 1em;
}

.btnNext {
    float: right;
    font-size: 30px;
    display: inline-block;
    color: #FFFFFF;
    padding-top: 6em;
    padding-right: 1em;
}

.projecttitle {
    position: absolute;
    margin-top: 1.5em;
    width: 100%;
    color: #FFFFFF;
    font-size: 80px;
    font-weight: lighter;
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.contributors {
    /*max-height: 7em;
    margin-bottom: 16em;*/
    position: absolute;
    top: 26.86em;
    display: inline-block;
    text-align: center;
    background-color:rgba(0,31,63, 0.8);
    margin: 79px 0em 0 42em;
    border-radius: 10px;
    color: white;
    border: 1px solid rgb(67,73,102);
    color: rgb(127,191,255) ;

}

.editmode {
    margin-top: 3em;
}

.caretproject {
    left: 70%;
    position: absolute;
    top: 13px;
}

/*Counter ngAnimate */

.slide.ng-hide-add,
.slide.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block!important;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0.5;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

.ctbravatar {
  width: 2em;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

}
