.auteur {
    /*background-color: #FFFFFF;*/
    margin: 3em;
}

.name {
    text-align: left;
    margin: 1em;
}

.summary {
    margin-bottom: 1em;
    background-color: #FFFFFF;
    margin-top: 1em;
    padding: 1em 4em 1em 4em;
    border-radius: 3px;
    min-height: 15.5em;
    border: 1px solid rgba(0, 0, 0, .09);
}

.imgview {
    height: 14em;
    width: 41em;
}

#studentview .fixed {
    position: fixed;
    overflow: auto;
}

#studentview .student {
    height: 100vh;
    background-color: #37474f;
    color: white;
}

#studentview a {
    color: white;
}

#studentview select, #studentview input {
    color: black;
    border-radius: 0px;
}

#studentview .thumbnail {
    border-radius: 0px;
}

.fileinput {
    background-color: white;
}

.labelInput {
    margin-top: -35px;
    position: absolute;
}

.selectcaret {
    margin-left: -20px;
}

#studentview .auteur label{
  color: white;
}
#studentview .auteur input, #studentview .auteur .bar{
  width: 100%;
}
