<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" ng-if="!$ctrl.search">
            <a class="navbar-brand" href="#">Project'Me</a>
            <button type="button" class="navbar-toggle collapsed" ng-click="$ctrl.isCollapsed()" aria-controls="bs-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Hide on leave house -->
        <div id="bs-navbar" class="navbar-collapse" ng-class="{collapse: !$ctrl.showCollapsed}" aria-expanded="false">
            <form class="nav navbar-form navbar-right">
                <div>
                    <input class="form-control" id="increase" ng-model="$ctrl.search" ng-change="$ctrl.show()" type="text" placeholder="Recherche">
                    <a ng-click="$ctrl.search = null; $ctrl.showcross = false">
                      <div ng-if="$ctrl.showcross && $ctrl.search" class="searchcross">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                      </div>
                    </a>
                    <i id="search" class="fa fa-search fa-lg" aria-hidden="true"></i>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li>
                    <a ui-sref="app.edit">Ajouter</a>
                </li>
            </ul>
        </div>
        <div id="resultcontain" ng-if="$ctrl.search">
            <div id="result" class="col-xs-12" ng-repeat="result in $ctrl.results">
                <a ui-sref="app.project({projectId : result._id})" ng-click="$ctrl.search = null; $ctrl.showcross = false">
                    <div class="row">
                        <div class="col-xs-2">
                            <img ng-repeat="image in result.image" ng-src="{{image}}" class="resultimage">
                        </div>
                        <div class="col-xs-10">
                            {{result.title}}
                            <br>
                            <em>Dévéloppé avec
                                {{result.techno}}
                            </em>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</nav>
