<section id="studentview">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <h1>Les projets de {{$ctrl.student.name}}</h1>
                <div class="row userprojects">
                    <div class="col-md-12" ng-repeat="project in $ctrl.studentProjects">
                        <div class="col-xs-6">
                            <div ng-repeat="image in project.image | limitTo : 1">
                                <img ng-src="{{image}}" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <h3>{{project.title}}</h3>
                            <p>{{project.content | limitTo : 200}}...</p>
                            <p><span class="technochip">{{project.techno}}</span></p>
                        </div>
                        <button ui-sref="app.project({projectId : project._id})" class="btn1">Voir le projet</button>

                    </div>
                </div>
            </div>
            <!-- Name -->

            <div class="col-xs-4 col-xs-push-8 fixed student userfa">
                <h2 ng-if="!$ctrl.editMode">{{$ctrl.student.name | uppercase}} </h2>
                <div class="group" ng-if="$ctrl.editMode">
                    <input type="text" value="Nom" ng-model="$ctrl.student.name">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Nom</label>
                </div>
                <div class="auteur">
                    <!-- Image -->
                    <img ng-if="!$ctrl.editMode" ng-src="data:image/jpg;base64,{{$ctrl.student.avatar}}" class="img-responsive img-circle avataruser">
                    <div class="group" ng-if="$ctrl.editMode">
                        <input class="form-control input-m center-block" type="file" ng-model="$ctrl.student.avatar" base-sixty-four-input>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Image</label>
                    </div>



                    <hr ng-if="!$ctrl.editMode">
                    <i class="fa fa-user-circle-o fa-3x" aria-hidden="true"></i>
                    <div class="row Description">
                    <div class="col-xs-6">
                        <!-- Description -->
                        <div ng-if="!$ctrl.editMode">
                            <p>Âge {{$ctrl.student.description}}
                            </p>
                        </div>
                        <div class="group" ng-if="$ctrl.editMode">
                            <input type="text" value="Description" ng-model="$ctrl.student.description">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Description</label>
                        </div>
                        <!-- City -->
                        <p ng-if="!$ctrl.editMode">
                            <span>Habite {{$ctrl.student.city}}</span>
                        </p>
                        <div class="group" ng-if="$ctrl.editMode">
                            <input type="text" value="Ville" ng-model="$ctrl.student.city">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Ville</label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <!-- Techno -->
                        <p ng-if="!$ctrl.editMode">
                            <i class="fa fa-laptop fa-lg" aria-hidden="true"></i>
                            <span>{{$ctrl.student.techno}}</span>
                        </p>
                        <div class="group" ng-if="$ctrl.editMode">
                            <input type="text" value="Techno" ng-model="$ctrl.student.techno">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Techno</label>
                        </div>
                        <!-- Github -->
                        <p ng-if="!$ctrl.editMode">
                            <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                            <span><a href="http://www.github.com/{{$ctrl.student.github}}">@{{$ctrl.student.github}}</a></span>
                        </p>
                        <div class="group" ng-if="$ctrl.editMode">
                            <input type="text" value="Pseudo Github" ng-model="$ctrl.student.github">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>GitHub</label>
                        </div>
                      </div>
                    </div>
                        <hr>
                    <!-- Project -->
                    <p><button class="btnEdit" ng-click="$ctrl.edit($ctrl.student)"><i class="fa fa-pencil-square-o fa-lg " aria-hidden="true"></i> {{!$ctrl.editMode ? 'Editer' : 'Valider'}}</button></p>
                    <p ng-if="$ctrl.editMode"><button class="btn btn-default" ng-click="$ctrl.cancel($ctrl.student)">Annuler</button></p>
                    <p ng-if="$ctrl.editMode"><button class="btn btn-default" ng-click="$ctrl.delete($ctrl.student)">Supprimer</button></p>
                    <hr ng-if="$ctrl.editMode">
                    <p ng-if="$ctrl.editMode">
                        <select ng-model="$ctrl.newProject.projects">
                                <option ng-repeat="project in $ctrl.projects ">{{project.title}}</option>
                            </select>
                    </p>
                    <p ng-if="$ctrl.editMode">
                        <button class="btn btn-default" ng-click="$ctrl.addProject($ctrl.student._id, [$ctrl.newProject.projects])">Add New Project</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
