<section>
    <div class="container">
        <h1>
            New Project
        </h1>
        <form name="newproject">
            <div class="row">
                <div class="col-xs-6">
                    <div class="group">
                        <input type="text" ng-model="$ctrl.project.title" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Title
                        </label>
                    </div>

                    <div class="group">
                        <input type="text" ng-model="$ctrl.project.image" required >
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>
                            Picture(s)
                        </label>
                    </div>

                    <div class="group">
                        <textarea type="text" ng-model="$ctrl.project.content" required></textarea>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>
                            Description
                        </label>
                    </div>

                </div>

                <div class="col-xs-6">

                    <div class="group">
                        <input type="text" ng-model="$ctrl.project.school" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>
                            School
                        </label>
                    </div>
                    <div class="group">
                        <label class="labelInput">Langage</label>
                        <p>
                            <select ng-model="$ctrl.project.techno">
                                <option></option>
                                <option>Javascript</option>
                                <option>Php</option>
                                <option>Ruby</option>
                                <option>Java</option>
                                <option>Android</option>
                                <option>iOS</option>
                            </select>
                            <span class="caret selectcaret"></span>
                        </p>

                    </div>

                    <div class="select-editable">
                        <div class="group">
                            <span class="caret selectcaret caretproject"></span>
                            <select onchange="this.nextElementSibling.value=this.value" ng-model="$ctrl.project.student">
                                <option value=""></option>
                                <option ng-repeat="student in $ctrl.students">{{student.name}}</option>
                            </select>
                            <input type="text" name="format">
                            <label>
                                Contributor(s)
                            </label>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 edition text-center">
                        <button class="btn" ng-click="$ctrl.add()" ng-disabled="newproject.$invalid">
                            <i class="fa fa-lg fa-cloud-download" aria-hidden="true">
                                Ajouter</i>
                        </button>
                        <button class="btn" ng-click="$ctrl.annuler(article)" ui-sref="app.projects">
                            <i class="fa fa-lg fa-undo" aria-hidden="true">Annuler</i>
                        </button>
                </div>
            </div>
        </form>
    </div>
</section>
