<section>
    <div class="container">
        <form name="newstudent">
            <div class="row window">
                <h1>Nouvel Étudiant</h1>
                <div class="col-xs-6">
                    <div class="group">
                        <input type="text" ng-model="$ctrl.newStudent.name" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Nom</label>
                    </div>
                    <div class="group">
                        <label class="labelInput">Avatar</label>
                        <input class="fileinput" type="text" ng-model="$ctrl.newStudent.avatar" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>

                    </div>
                    <div class="group">
                        <input type="text" ng-model="$ctrl.newStudent.github" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Github</label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="group">
                        <input type="number" ng-model="$ctrl.newStudent.description" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Âge</label>
                    </div>
                    <div class="group">
                        <input type="text" ng-model="$ctrl.newStudent.city" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Ville</label>
                    </div>
                    <div class="group">
                        <label class="labelInput">Langage</label>
                        <p>
                            <select ng-model="$ctrl.newStudent.techno">
                                <option></option>
                                <option>Javascript</option>
                                <option>Php</option>
                                <option>Ruby</option>
                                <option>Java</option>
                                <option>Android</option>
                                <option>iOS</option>
                            </select>
                            <span class="caret selectcaret"></span>
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-sm-offset-3">
                    <div class="group">
                        <label class="labelInput">Projet</label>
                        <p>
                            <select ng-model="$ctrl.newStudent.projects">
                                <option></option>
                                <option ng-repeat="project in $ctrl.projects track by $index">{{project.title}}</option>
                            </select>
                            <span class="caret selectcaret"></span>
                        </p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 edition text-center">
                    <button class="btn" ng-click="$ctrl.add($ctrl.newStudent, [$ctrl.newStudent.projects])" ng-disabled="newstudent.$invalid">
                        <i class="fa fa-lg fa-cloud-download" aria-hidden="true">
                            Ajouter</i>
                    </button>
                    <button class="btn" ng-click="$ctrl.cancel(newStudent)" ui-sref="app.projects">
                        <i class="fa fa-lg fa-undo" aria-hidden="true">
                            Annuler</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</section>
