<section>
    <div class="container">
        <div class="row window">
            <h1>New Student</h1>
            <div class="col-xs-6">
                <label>Name</label>
                <input class="form-control input-m center-block" type="text" ng-model="$ctrl.newStudent.name" required><br>

                <label>Avatar</label>
                <input class="form-control input-m center-block" type="file" ng-model="$ctrl.newStudent.avatar" base-sixty-four-input><br>

                <label>Github</label>
                <input class="form-control input-m center-block" type="text" ng-model="$ctrl.newStudent.github"><br>
            </div>
            <div class="col-xs-6">
                <label>Description</label>
                <input class="form-control input-m center-block" type="text" ng-model="$ctrl.newStudent.description"><br>

                <label>City</label>
                <input class="form-control input-m center-block" type="text" ng-model="$ctrl.newStudent.city"><br>

                <label>Techno</label>
                <input class="form-control input-m center-block" type="text" ng-model="$ctrl.newStudent.techno"><br>
            </div>
            <div class="col-xs-12">
                <label>Projects</label>
                <p>
                    <select ng-model="$ctrl.newStudent.projects">
                        <option></option>
                        <option ng-repeat="project in $ctrl.projects">{{project.title}}</option>
                    </select>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 edition text-center">
                <button class="btn btn-success" ng-click="$ctrl.add($ctrl.newStudent)">Ajouter</button>
                <button class="btn btn-danger" ng-click="$ctrl.cancel(newStudent)">Annuler</button>
            </div>
        </div>
    </div>
</section>
