<div class="container-fluid">
    <div class="row ">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <div ng-repeat="project in $ctrl.projects | orderBy : '-likes' | limitTo : $ctrl.limit ">
                        <a class="heart" ng-click="$ctrl.likes(project)">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            {{project.likes}}</a>
                        <div class="card carte interne card-block">
                            <p>{{project.student.name}}</p>
                            <div class="imageview" ng-repeat="image in project.image | limitTo: 1" ng-src="" style="background-image:url({{image}})"></div>
                            <h2 class="card-title">{{project.title}}</h2>
                            <p class="card-content">{{project.content | limitTo : 150}}
                                <span ng-if="project.content.length > 150 ">...</span>
                            </p>
                            <div class="row">
                                <div ng-repeat="student in project.student">
                                    <a href="#/student/{{student._id}}">
                                        <div class="littlecard littlecardprojectdesk col-md-4 col-xs-11">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <div class="imageuser" style="background-image:url({{student.avatar}})"></div>
                                                </div>
                                                <div class="col-xs-8">
                                                    <h4>{{student.name}}</h4>
                                                    <h6>{{student.techno}}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <p class="col-xs-6">
                                    <a ng-click="$ctrl.viewComment()" class="viewmore">Comments ({{project.comments.length}})</a>
                                </p>
                                <p class="col-xs-6 right">
                                    <a ui-sref="app.project({projectId : project._id})" class="viewmore">Voir plus</a>
                                </p>
                            </div>
                            <!-- Comments -->
                            <div class="row" ng-if="$ctrl.showComment">
                                <div class="col-xs-12 comment">
                                    <div class="" ng-repeat="comment in project.comments | orderBy : '-' | limitTo : $ctrl.limitComment ">
                                        <p><i class="fa fa-comments-o" aria-hidden="true"></i> {{comment}}</p>
                                    </div>
                                </div>
                                <a ng-click="$ctrl.loadMoreComment()" ng-if="$ctrl.limitComment < project.comments.length">
                                    <p class="text-center loadmorecomment">Charger plus de commentaires</p>
                                </a>
                                <div class="col-xs-8">
                                    <input type="text" placeholder="Écrivez votre commentaire" value="" ng-model="$ctrl.comment">
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn" type="button" ng-click="$ctrl.addComment(project, $ctrl.comment)">Envoyer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn loadmore col-xs-12" name="button" ng-click="$ctrl.loadmore()" ng-if="$ctrl.limit < $ctrl.projects.length">Charger plus de projets</a>
                </div>
                <div class="col-md-4 hidden-sm hidden-xs">
                    <div class="" ng-repeat="student in $ctrl.students">
                        <a href="#/student/{{student._id}}">
                            <div class="card carte interne card-block">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="imageuser" style="background-image:url({{student.avatar}})"></div>
                                    </div>
                                    <div class="col-xs-8">
                                        <h4>{{student.name}}</h4>
                                        <h6>{{student.techno}}</h6>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-xs-2 col-xs-offset-5 text-center">
        <button class="btn btn-primary addArticle" ui-sref="app.newproject">+ Add project
        </button>
    </div>
</div>
