<div class="container-fluid">
    <div class="row interne">

        <div class="col-xs-11 col-xs-offset-1">
            <div ng-repeat="project in $ctrl.projects | limitTo:$ctrl.limit : $ctrl.begin">
                <div class="col-xs-3 carte" ui-sref="app.project({projectId : project._id})">
                    <div class="card card-block">
                        <h3 class="card-title">{{project.title}}</h3>
                        <a ui-sref="app.authors({authorId : project.author._id})"><em>{{project.author.name}} </em></a>
                        <img class="img-responsive imageview" ng-repeat="image in project.image | limitTo: 1" ng-src="{{image}}">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row text-center">
        <button class="btn btn-primary addArticle" ui-sref="app.newproject">+ Add project </button>
    </div>

</div>
