<!-- Window Learn more -->
<section>
    <div class="container-fluid">
        <h1 ng-if="!$ctrl.editMode" class="projecttitle"> {{$ctrl.projects.title}}</h1>
        <label ng-if="$ctrl.editMode"> Title du project </label>
        <input ng-if="$ctrl.editMode" class="form-control input-sm" type="text" ng-model="$ctrl.projects.title">
        <!-- <time><p ng-if="!$ctrl.editMode" > Le {{$ctrl.projects.updatedAt | date:'dd-MM-yyyy à HH:mm:ss'}} </p></time> -->

        <!-- Récupération des images du projet -->

        <label ng-if="$ctrl.editMode"> Language de Programmation </label>
        <input ng-if="$ctrl.editMode" class="form-control input-sm" type="text" ng-model="$ctrl.projects.techno">


        <div class="row">

            <div class="" ng-repeat="image in $ctrl.projects.image | limitTo:$ctrl.limit : $ctrl.begin">
                <div style="background-image: url({{image}})" ng-if="$ctrl.projects.image" class="projectimage" ng-click="$ctrl.next()">
                  <p ng-if="!$ctrl.editMode" id="techno">{{$ctrl.projects.techno}} </p>

                  <a ng-click="$ctrl.prev()" class="btnPrev"> < </a>

                  <a ng-click="$ctrl.next()" class="btnNext"> > </a>

                </div>
            </div>

            <div class="col-xs-8 col-xs-offset-2">
                <!-- Récupération des avatars -->
                <h1>Contributors </h1>

                <div class="" ng-repeat="student in $ctrl.projects.student" >
                    <div class="col-xs-3">
                        <label>{{student.name}} </label>
                        <img ng-src="data:image/jpg;base64,{{student.avatar}}" class="img-responsive img-circle" ui-sref="app.student({studentId : student._id})">
                    </div>
                </div>
            </div>
        </div>

        <h1>Description du Projet </h1>

        <div class="row dialog">
            <p ng-if="!$ctrl.editMode">{{$ctrl.projects.content}}</p>
            <label ng-if="$ctrl.editMode"> Description du projet </label>
            <textarea ng-if="$ctrl.editMode" class="form-control input-sm" rows="6" cols="50" type="text" ng-model="$ctrl.projects.content"></textarea>
        </div>

        <div class="row exit">
            <a class="edit" ng-click="$ctrl.update($ctrl.projects)">{{($ctrl.editMode ? 'Valider' : 'Edit')}} </a>
            <a type="button" ng-if="$ctrl.editMode" ng-click="$ctrl.cancel($ctrl.project)">Annuler</a>
            <a class="delete" ng-click="$ctrl.delete($ctrl.project)" ui-sref="app.projects">Delete {{}}</a>
        </div>

    </div>
</section>
