#result {
    height: auto;
    padding: 1em;
}

#result:hover {
    z-index: 99999999;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #39CCCC;
}

.resultimage {
    width: 4em;
    height: auto;
}

.carte {
    margin-top: 2em;
    margin-bottom: 0.7em;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 0px;
}

.carte:hover {
    box-shadow: 0.5px 0.5px 0.5px 0.5px #39CCCC;
}

h3 {
    text-align: center;
    font-weight: lighter;
}

#search {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor: pointer;
    width: 0;
    display: inline-block;
}

@media(max-width:768px) {
    #search {
        left: 90%;
        top: -30px;
        background-color: transparent;
    }
}

#increase {
    padding: 0 30px 0 35px;
    color: #111;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-appearance: none;
    width: 10em;
}

#increase:focus {
    width: 500px;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.95);
}

.card-content {
    color: grey;
    font-size: 14px;
}

.right {
    text-align: right;
}

.imageuser {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.no-pad {
    padding: 0px;
    margin-left: 5%;
}

.center {
    display: block;
    width: 25%;
    margin: auto;
    min-width: 200px;
}

.littlecard {
    margin-top: 2em;
    margin: 1%;
    margin-bottom: 0.7em;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 0px;
    background-color: #fefefe;
}

@media (max-width:768px) {
    .littlecardproject {
        width: 48%;
    }
}

@media (min-width:768px) {
    .littlecardprojectdesk {
        width: 31.3%;
    }
}

.usercardproject {
    margin-top: -100px;
}

.heart {
    color: red;
    font-size: 24px;
    float: right;
    margin: 10px;
    top: 25px;
    right: 10px;
    background-color: #f8f9f9;
    padding: 25px;
    border-bottom-left-radius: 80%;
}

.viewmore {
    font-size: 25px;
}

.comment div:nth-child(odd):not(.col-xs-12) {
    padding: 10px 10px 0px;
    margin: 5px 0px;
    background-color: #eaeaea;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    width: 70%;
    float: left;
}

.comment div:nth-child(even) {
    float: right;
    background-color: rgba(82, 100, 174, 0.5);
    color: white;
    padding: 10px 10px 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 70%;
}

.loadmorecomment {
    font-size: 14px;
    line-height: 35px;
    margin-bottom: -20px;
}

#resultcontain {
    width: 500px;
    height: 100vh;
    float: right;
}
@media (max-width: 767px){
    #resultcontain{
        float: left;
    }
}

.navbar-toggle {
    border: 0px solid transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #feffff;
}
