.dialog3 {
    background-color: #FFFFFF;
    padding: 2em;
    text-align: center;
    border-radius: 0px;
    min-height: 250px;
    border: 1px solid rgba(0, 0, 0, .09);
    margin-bottom: 3em;
}

.auteur {
    margin: 3em;
    padding-bottom: 3em;
}

.name {
    text-align: left;
    margin: 1em;
}

.summary {
    margin-bottom: 1em;
    background-color: #FFFFFF;
    margin-top: 1em;
    padding: 1em 4em 1em 4em;
    border-radius: 3px;
    min-height: 15.5em;
    border: 1px solid rgba(0, 0, 0, .09);
}

.imgview {
    height: 14em;
    width: 41em;
}

#studentview .fixed {
    position: fixed;
    overflow: auto;
}

@media (max-width:768px) {
    #studentview .fixed {
        position: relative;
    }
}

#studentview .student {
    height: 100vh;
    background-color: rgb(0, 31, 63);
    color: rgb(127, 191, 255)
}

#studentview a {
    color: white;
}

#studentview select, #studentview input {
    color: black;
    border-radius: 0px;
}

#studentview .thumbnail {
    border-radius: 0px;
}

.fileinput {
    background-color: white;
}

.labelInput {
    margin-top: -35px;
    position: absolute;
}

.selectcaret {
    margin-left: -20px;
}

#studentview .auteur label {
    color: white;
}

#studentview .auteur input, #studentview .auteur .bar {
    width: 100%;
}

.technochip {
    width: 15%;
    float: right;
    bottom: 0px;
    position: absolute;
    right: -10px;
    top: -10px;
}

@media (max-width) {
    .technochip {
        top: 5px;
    }
}

.userfa i {
    text-align: center;
    color: white;
}

.userfa {
    text-align: center;
}

.userfa a {
    text-align: center;
    color: rgb(127, 191, 255) !important;
}

.userfa a:hover {
    text-align: center;
    color: rgb(127, 219, 255);
}

.btn1 {
    padding: 0.5em 1em 0.5em 1em;
    background-color: #FFFFFF;
    color: #5264AE;
    text-transform: uppercase;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: none;
    margin: 2em 14em 0px 15em;
}

@media(max-width:768px) {
    .btn1 {
        padding: 0em 0em 0em 0em;
        background-color: #FFFFFF;
        color: #5264AE;
        text-transform: uppercase;
        text-align: center;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        border: none;
        margin: 2em 0em 0px 0em;
    }
}

.btn1:hover {
    /*padding: 1em 2em 1em 2em;*/
    /*background-color: rgb(0, 31, 63);*/
    color: rgb(127, 191, 255);
}

.btnEdit {
    padding: 1em 0em 0em 0em;
    margin: 0 4em 0em 4em;
    background-color: rgb(0, 31, 63);
    color: rgb(127, 191, 255);
    text-transform: uppercase;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: none;
}

.btnEdit:hover {
    /*padding: 1em 2em 1em 2em;*/
    color: white;
}

.userprojects {
    margin-top: 4em;
}

.avataruser {
    margin: auto;
    width: 57%;
    height: auto;
}

.Description {
    margin-top: 3em;
}
