<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">Project'Me</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input id="increase" ng-model="$ctrl.search" ng-change="$ctrl.show()" type="text" class="form-control" placeholder="Search">
                    <i id="search" class="fa fa-search" aria-hidden="true"></i>
                </div>
                <div id="result" ng-if="$ctrl.search" class="col-xs-3 col-xs-offset-3">
                    <a ui-sref="app.project({projectId : $ctrl.results._id})">{{$ctrl.results.title}} </a><br>
                    <em>Dévéloppé avec {{$ctrl.results.techno}} </em>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
              
                <li><a ui-sref="app.edit">Edit</a></li>

            </ul>
        </div>
</nav>
