<section>
    <div class="container">
        <h1> New Project </h1>

        <div class="row window">
            <div class="col-xs-6">
                <label for="">Title </label>
                <input class="form-control input-m center-block" type="text" ng-model="$ctrl.project.title"><br>
                <input ng-model="$ctrl.blog.PublishedAt" hidden>

                <label for=""> School </label>
                <input class="form-control input-m center-block" type="text" ng-model="$ctrl.project.school"><br>
            </div>

            <div class="col-xs-6">
                <label for=""> Contributor(s) </label>
                <div class="select-editable">
                    <select onchange="this.nextElementSibling.value=this.value">
                        <option value=""></option>
                        <option ng-repeat="student in $ctrl.students">{{student.name}}</option>
                      </select>
                    <input type="text" name="format" placeholder="Contributor's names" ng-model="$ctrl.project.student" class="form-control input-m center-block" />
                </div>
                <br>

                <label for="">Project Language(s) </label>
                <input class="form-control input-m center-block" type="text" ng-model="$ctrl.project.techno">
            </div>


            <div class="col-xs-6 col-xs-offset-3">
                <label for=""> Project description </label>
                <textarea class="form-control input-sm" rows="6" cols="50" type="text" ng-model="$ctrl.project.content"></textarea>
            </div>

            <div class="col-xs-6 col-xs-offset-3 edition">
                <button class="btn btn-success" ng-click="$ctrl.add()">  Ajouter  </button>
                <button class="btn btn-danger" ng-click="$ctrl.annuler(article)"> Annuler </button>
            </div>
        </div>
    </div>
</section>
